appName="fiora" # app name
HOST="0.0.0.0" # default host 0.0.0.0 means to localhost or 127.0.0.1
PORT=8000 # app port
client.timeout=10 # timeout request
graceful=5 # graceful shutdown timeout, if the required time exceeds, it will be forced to shut down

psql.host=""
psql.port=""
psql.name=""
psql.username=""
psql.password=""
psql.timeout=5 # postgres connection timeout
psql.maxpool=60 # postgres maxpool